#plus-signs{
animation: plus-signs 1.5s ease-out infinite alternate;
transform-origin: center;

}
@keyframes plus-signs{
  from{
  opacity: 0;
  }
  to{
opacity: 1;;
  }
}
#ss1{
transform: translateX(-399.34%);
}
@keyframes ss1{
  from{
    transform: translate(-400,-168);
  }
  to{
    transform: translate();
  }
}