@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

// SVG Animation
#Leaf-Left{
  animation: plant 1.5s ease infinite alternate;
}
#Leaf-Right{
  animation: plant 1.8s ease infinite alternate;
  animation-delay: 0.5s;
}
#Hand-Left{
 animation: hand .6s ease infinite alternate;
 transform-box: fill-box;
 transform-origin:top;
}
#Hand-Right{
  animation: hand .7s ease infinite alternate;
  transform-box: fill-box;
  transform-origin:top;
  transition-delay: .5s;
 }
 #Clock-Hand{
  animation: clock 5s linear infinite;
  transform-box: fill-box;
  transform-origin:bottom;
  transition-delay: .5s;


 }
 #Mobile-Circle{
  animation: Mobile .7s ease infinite alternate;
 }
 #Tablet-Circle{
  animation: Tablet .7s ease infinite alternate .4s;
 }
 #Desktop-Background{
  animation: Desktop 1s ease infinite alternate .5s;
 }
 @keyframes Tablet{
  from{
    transform: translate(0% ,0%);
  }
  to{
    transform: translate(.7% ,-1.8%);
  }
}

@keyframes Desktop{
  from{
    transform: translate(0% ,0%);
  }
  to{
    transform: translate(1.2% ,-1.8%);
  }
}
 @keyframes Mobile{
   form{
    transform: translate(0% ,0%);
   }
   to{
    transform: translate(.5% ,-1%);

   }
 }
 @keyframes clock{
   form{
    transform: rotateZ(0deg);
   }
   to{

    transform: rotateZ(360deg);
   }
 }
@keyframes hand{
  form{
    transform: rotateZ(0deg);
  }
  to{
  transform: rotateZ(5deg);

  }
}


@keyframes plant{
 form{
transform: translateY(0%);
 } 
 to{
  
  transform: translateY(-25%);
 }
}
// Text Animation

@keyframes rubberBand {
  0% {
 
  transform: scale3d(1, 1, 1);
  }
  30% {

  transform: scale3d(1.25, 0.75, 1);
  }
  40% {

  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
 
  transform: scale3d(.95, 1.05, 1);
  }
  75% {

  transform: scale3d(1.05, .95, 1);
  }
  100% {
  transform: scale3d(1, 1, 1);
  }
  }
.it{
  // background-color: deeppink;
  display: flex;
  height:max-content;
  padding-left: 2rem;
  h1{
    font-family: 'Contrail One', sans-serif;
    height:auto;
    font-size: 5vw;
    &:hover{
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      transition: .3s;
      color:#19A1BD;
  }
  }

}

.name{
  // background-color: lightcoral;
  width:40%;
  
}
.namesvg{
 width:50%;
  // background-color: black;
  height: auto;

}
#it2{
 align-items: center;
}

@media only screen and (max-width : 860px) {
  /* Styles */
  .it{
    h1{
      font-size: 4.5vw;
    }
  }
}

@media only screen and (max-width : 740px) {
  /* Styles */
.it{
  h1{
    font-size: 7vw;
  
  }
}
.introp{

  p{
    font-size: 1.8rem;
  }
}
.namesvg{
  width:30%;
   // background-color: black;
   height: auto;
 
 }
}

@media only screen and (max-width : 450px) {
  /* Styles */
  .header-logo {
    height: 10px;
    width: auto;
    display: block;
  }
.it{
  h1{
    font-size: 8vw;
  }
}
p{
  font-size: 1.5rem;
}
}
@media only screen and (max-width : 350px) {
  /* Styles */
.it{
  h1{
    font-size: 8vw;
  }
}
p{
  font-size: 1.5rem;
}
.header-logo{
  height: 100px;
}
}








// @media only screen and (max-width : 400px) {
//   /* Styles */
//   .header-logo {
//     height: 60px;
//     width: auto;
//     display: block;
//   }

//   }