@import url('https://fonts.googleapis.com/css2?family=Basic&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.skillset-wrapper{
  padding: 4rem 1rem;
 
  // min-height: 100vh;
  // background-color: rgb(108, 89, 218);
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(2,30vw);
gap: 1rem;
}
.skills-contain{
grid-column: 1/5;
grid-row:1/-1;
display:grid;
align-content:flex-start;
color:$primary-color;
h2{
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 4rem;
  // font-family: 'Satisfy', sans-serif;
}


.skill-name{
  display: flex;
  align-items: center;
  .skillsicon{
    height: 48px;
  } 
  .stext{
    margin-left: 10%;
  }
}
}
.services1{
  
  grid-column: 5/8;
}
.services2{

  grid-column: 8/-1;
}

.services3{
 
  grid-column: 5/8;
}

.services4{
 
  grid-column: 8/-1;
}
.services-wrap{
height: 90%;
color: white;
margin-top: 10%;
border-radius: 2%;
h3{
  padding-left: 8%;
}
.services-info{
  padding:10% 0% 0% 8%;
  transform: translateY(50%);
  opacity: 0;
  transition: all .3s ease;
}
}
.services-wrap:hover .services-info{
opacity: 1;
transform: translateY(0);
}
.services-svg{
height: 60px;
position:relative;
top:-10%;
left:5%;

}
#responsive{
  background: linear-gradient(rgba(0, 0, 0, 0.671),transparent),url(../images/responsive.jpg);
background-size:cover;
transition: .2s;
}

#browser-comp{
  background: linear-gradient(rgba(0, 0, 0, 0.671),transparent),url(../images/browser.jpg);
background-size:cover;
transition: .5s;


}
#clean-code{
  background: linear-gradient(rgba(0, 0, 0, 0.671),transparent),url(../images/code.jpg);
background-size:cover;
transition: .5s;


}
#seo-friendly{
  background: linear-gradient(rgba(0, 0, 0, 0.671),transparent),url(../images/seo.jpg);
background-size:cover;
transition: .5s;
}

.services-cards:hover{
  // background-position: 20%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.486);
}


.services-wrap:hover#responsive{
  background-position: 20%;
}
.services-wrap:hover#browser-comp{
  background-position: 20%;
}
.services-wrap:hover#clean-code{
  background-position: 20%;
}
.services-wrap:hover#seo-friendly{
  background-position: 20%;
}



// Skillset Styles start
.stext{
  font-size: 1.5vw;
}
.s-container{
  width: 100%;
  padding: 20px 20px;
  background-color: rgb(3, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.082);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
}

.s-container *{
  font-family: "Poppins",sans-serif;
  color: #000000;
  font-weight: 500;
}

.skills:not(:last-child){
  margin-bottom: 10px;
}
.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 0px;
}
.bar{
  /* position: relative; */
  /* background-color: rgba(255,255,255,0.06); */
  /* border: 1px solid rgba(255,255,255,0.06); */
  border: 1px solid rgba(0, 0, 0, 0.096);
  background-color: rgba(0, 0, 0, 0.027);
  padding: 4px 4px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.bar div{
  /* position: relative; */
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #badefc;
  border: 5px solid $primary-color;
  // box-shadow: 0 0 3px rgba(16, 6, 63, 0.6);
}
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 96%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}
#sass-bar{
  animation: sass-fill 2s forwards;
}
@keyframes sass-fill{
  100%{
      width: 82%;
  }
}
#js-bar{
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100%{
      width: 66%;
  }
}
#bootstrap-bar{
  animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill{
  100%{
      width: 74%;
  }
}
#jQuery-bar{
  animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
  100%{
      width: 68%;
  }
}

#figma-bar{
  animation: figma-fill 2s forwards;
}
@keyframes figma-fill{
  100%{
      width: 75%;
  }
}
// Skillset Styles End
@media only screen and ( max-width:1024px) {
  .services-wrap{
    h3{
      font-size:2.5rem ;
    }
    p{
      font-size: 1.7rem;
    }
    .services-info {
      transform: translateY(0%);
      opacity: 1;
    }
}

}

@media only screen and ( max-width:850px) {
  .stext{
    font-size: 3vw;
  }
 
.skillset-wrapper{
  grid-template-rows:repeat(4,50vw);
  // background-color: #000000;
}
.skills-contain{
  grid-column: 1/-1;
  grid-row: 1/3;
  // background-color: #000000;
}
.services1{
grid-column: 1/6;
grid-row: -3/-2;
}
.services2{
  grid-column: 6/-1;
  grid-row: -3/-2;
}
.services3{
  grid-column: 1/6;
  grid-row: -2/-1;
}
.services4{
  grid-column: 6/-1;
  grid-row: -2/-1;
}
}

@media only screen and ( max-width:600px) {
  .skillset-wrapper{
    grid-template-rows:repeat(5,50vw);
    // background-color: #000000;
  
  }
  .services-wrap{
    h3{
      font-size:2.3rem ;
    }
    p{
      font-size: 1.4rem;
    }
    .services-info{
      padding:4% 0% 0% 8%;
    }
  }
}
@media only screen and ( max-width:450px) {
  .stext{
    font-size: 4vw;
  }
  .skillset-wrapper{
    grid-template-rows:repeat(7,50vw);
  }
  .skills-contain{
   grid-row: 1/4;
  }
  .services1{
    grid-column: 1/-1;
    grid-row: -5/-4;
    }
    .services2{
      grid-column: 1/-1;
      grid-row: -4/-3;
    }
    .services3{
      grid-column: 1/-1;
      grid-row: -3/-2;
    }
    .services4{
      grid-column: 1/-1;
      grid-row: -2/-1;
    }
  }
  @media only screen and ( max-width:360px) {
    .skillset-wrapper{
      grid-template-rows:repeat(8,50vw);
    }


  }
  @media only screen and ( max-width:350px) {
    .services-wrap{
      h3{
        font-size:2.3rem ;
      }
      p{
        font-size: 1.3rem;
      }
      .services-info{
        padding:1% 0% 0% 8%;
      }
    }

  }


  @media only screen and ( max-width:300px) {
    .services-wrap{
      h3{
        font-size:2rem ;
      }
      p{
        font-size: 1.2rem;
      }
      .services-info{
        padding:2% 0% 0% 8%;
      }
    }

  }