@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basic&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.introduction {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 7.5rem;
  color: #072c33;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

h4, h5 {
  font-size: 2.6rem;
}

li, button, label, input {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

ul {
  list-style: none;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.tag-text {
  font-family: 'Sacramento', cursive;
  color: rgba(0, 0, 0, 0.644);
}

.introp {
  font-family: 'Nanum Gothic', sans-serif;
  color: #314E59;
  padding: 0rem 0.5rem;
}

#Leaf-Left {
  -webkit-animation: plant 1.5s ease infinite alternate;
          animation: plant 1.5s ease infinite alternate;
}

#Leaf-Right {
  -webkit-animation: plant 1.8s ease infinite alternate;
          animation: plant 1.8s ease infinite alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#Hand-Left {
  -webkit-animation: hand .6s ease infinite alternate;
          animation: hand .6s ease infinite alternate;
  transform-box: fill-box;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#Hand-Right {
  -webkit-animation: hand .7s ease infinite alternate;
          animation: hand .7s ease infinite alternate;
  transform-box: fill-box;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#Clock-Hand {
  -webkit-animation: clock 5s linear infinite;
          animation: clock 5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#Mobile-Circle {
  -webkit-animation: Mobile .7s ease infinite alternate;
          animation: Mobile .7s ease infinite alternate;
}

#Tablet-Circle {
  -webkit-animation: Tablet .7s ease infinite alternate .4s;
          animation: Tablet .7s ease infinite alternate .4s;
}

#Desktop-Background {
  -webkit-animation: Desktop 1s ease infinite alternate .5s;
          animation: Desktop 1s ease infinite alternate .5s;
}

@-webkit-keyframes Tablet {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0.7%, -1.8%);
            transform: translate(0.7%, -1.8%);
  }
}

@keyframes Tablet {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0.7%, -1.8%);
            transform: translate(0.7%, -1.8%);
  }
}

@-webkit-keyframes Desktop {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(1.2%, -1.8%);
            transform: translate(1.2%, -1.8%);
  }
}

@keyframes Desktop {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(1.2%, -1.8%);
            transform: translate(1.2%, -1.8%);
  }
}

@-webkit-keyframes Mobile {
  form {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0.5%, -1%);
            transform: translate(0.5%, -1%);
  }
}

@keyframes Mobile {
  form {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0.5%, -1%);
            transform: translate(0.5%, -1%);
  }
}

@-webkit-keyframes clock {
  form {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  form {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes hand {
  form {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@keyframes hand {
  form {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@-webkit-keyframes plant {
  form {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

@keyframes plant {
  form {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 2rem;
}

.it h1 {
  font-family: 'Contrail One', sans-serif;
  height: auto;
  font-size: 5vw;
}

.it h1:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: .3s;
  transition: .3s;
  color: #19A1BD;
}

.name {
  width: 40%;
}

.namesvg {
  width: 50%;
  height: auto;
}

#it2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 860px) {
  /* Styles */
  .it h1 {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 740px) {
  /* Styles */
  .it h1 {
    font-size: 7vw;
  }
  .introp p {
    font-size: 1.8rem;
  }
  .namesvg {
    width: 30%;
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  /* Styles */
  .header-logo {
    height: 10px;
    width: auto;
    display: block;
  }
  .it h1 {
    font-size: 8vw;
  }
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 350px) {
  /* Styles */
  .it h1 {
    font-size: 8vw;
  }
  p {
    font-size: 1.5rem;
  }
  .header-logo {
    height: 100px;
  }
}

/*       Just setting CSS for the page   */
#workarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3rem;
}

#workarea2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/*    start code for the actual button:         */
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.svg-wrapper:hover {
  background-color: #072c33;
  -webkit-transition: .8s;
  transition: .8s;
}

.svg-wrapper:hover p {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/
#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 2rem;
}

/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  -webkit-transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  -webkit-transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:before {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  -webkit-transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746ea;
  -webkit-animation: border-transform 7s linear infinite;
          animation: border-transform 7s linear infinite;
  -webkit-transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 1100ms ease;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 1100ms ease;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 1100ms ease;
}

@-webkit-keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked ~ .nav {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  -webkit-transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 700ms ease;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 700ms ease;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 250ms 700ms ease;
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
}

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.nav ul li a:hover {
  text-decoration: none;
  color: #19A1BD;
}

.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  -webkit-transition: width 250ms linear;
  transition: width 250ms linear;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 350ms ease, -webkit-transform 250ms ease;
  transition: opacity 350ms ease, -webkit-transform 250ms ease;
  transition: opacity 350ms ease, transform 250ms ease;
  transition: opacity 350ms ease, transform 250ms ease, -webkit-transform 250ms ease;
}

.menu-icon:checked ~ .nav ul li:nth-child(1) {
  -webkit-transition-delay: 1400ms;
          transition-delay: 1400ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(2) {
  -webkit-transition-delay: 1480ms;
          transition-delay: 1480ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(3) {
  -webkit-transition-delay: 1560ms;
          transition-delay: 1560ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(4) {
  -webkit-transition-delay: 1640ms;
          transition-delay: 1640ms;
}

.logo {
  top: 60px;
  left: 50px;
  display: block;
  z-index: 11;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.header-logo {
  height: 75px;
  width: auto;
  display: block;
}

.navimg {
  height: 130px;
  width: auto;
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav {
    right: 30px;
  }
  .nav ul li a {
    font-size: 8vh;
  }
  .navimg {
    height: 100px;
    width: auto;
  }
}

.skillset-wrapper {
  padding: 4rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (30vw)[2];
      grid-template-rows: repeat(2, 30vw);
  gap: 1rem;
}

.skills-contain {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  grid-row: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  color: #072c33;
}

.skills-contain h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.skills-contain .skill-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-contain .skill-name .skillsicon {
  height: 48px;
}

.skills-contain .skill-name .stext {
  margin-left: 10%;
}

.services1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.services2 {
  grid-column: 8/-1;
}

.services3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.services4 {
  grid-column: 8/-1;
}

.services-wrap {
  height: 90%;
  color: white;
  margin-top: 10%;
  border-radius: 2%;
}

.services-wrap h3 {
  padding-left: 8%;
}

.services-wrap .services-info {
  padding: 10% 0% 0% 8%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.services-wrap:hover .services-info {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.services-svg {
  height: 60px;
  position: relative;
  top: -10%;
  left: 5%;
}

#responsive {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.671)), to(transparent)), url(../images/responsive.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.671), transparent), url(../images/responsive.jpg);
  background-size: cover;
  -webkit-transition: .2s;
  transition: .2s;
}

#browser-comp {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.671)), to(transparent)), url(../images/browser.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.671), transparent), url(../images/browser.jpg);
  background-size: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

#clean-code {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.671)), to(transparent)), url(../images/code.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.671), transparent), url(../images/code.jpg);
  background-size: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

#seo-friendly {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.671)), to(transparent)), url(../images/seo.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.671), transparent), url(../images/seo.jpg);
  background-size: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.services-cards:hover {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.486);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.486);
}

.services-wrap:hover#responsive {
  background-position: 20%;
}

.services-wrap:hover#browser-comp {
  background-position: 20%;
}

.services-wrap:hover#clean-code {
  background-position: 20%;
}

.services-wrap:hover#seo-friendly {
  background-position: 20%;
}

.stext {
  font-size: 1.5vw;
}

.s-container {
  width: 100%;
  padding: 20px 20px;
  background-color: #030000;
  border: 2px solid rgba(255, 255, 255, 0.082);
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.s-container * {
  font-family: "Poppins",sans-serif;
  color: #000000;
  font-weight: 500;
}

.skills:not(:last-child) {
  margin-bottom: 10px;
}

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar {
  /* position: relative; */
  /* background-color: rgba(255,255,255,0.06); */
  /* border: 1px solid rgba(255,255,255,0.06); */
  border: 1px solid rgba(0, 0, 0, 0.096);
  background-color: rgba(0, 0, 0, 0.027);
  padding: 4px 4px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.bar div {
  /* position: relative; */
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #badefc;
  border: 5px solid #072c33;
}

#html-bar {
  -webkit-animation: html-fill 5s ease forwards;
          animation: html-fill 5s ease forwards;
}

@-webkit-keyframes html-fill {
  100% {
    width: 96%;
  }
}

@keyframes html-fill {
  100% {
    width: 96%;
  }
}

#css-bar {
  -webkit-animation: css-fill 5s forwards;
          animation: css-fill 5s forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes css-fill {
  100% {
    width: 75%;
  }
}

@keyframes css-fill {
  100% {
    width: 75%;
  }
}

#sass-bar {
  -webkit-animation: sass-fill 2.4s forwards;
          animation: sass-fill 2.4s forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes sass-fill {
  100% {
    width: 82%;
  }
}

@keyframes sass-fill {
  100% {
    width: 82%;
  }
}

#js-bar {
  -webkit-animation: js-fill 2.2s forwards;
          animation: js-fill 2.2s forwards;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes js-fill {
  100% {
    width: 66%;
  }
}

@keyframes js-fill {
  100% {
    width: 66%;
  }
}

#bootstrap-bar {
  -webkit-animation: bootstrap-fill 2.5s forwards;
          animation: bootstrap-fill 2.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes bootstrap-fill {
  100% {
    width: 74%;
  }
}

@keyframes bootstrap-fill {
  100% {
    width: 74%;
  }
}

#jQuery-bar {
  -webkit-animation: jQuery-fill 2.7s forwards;
          animation: jQuery-fill 2.7s forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes jQuery-fill {
  100% {
    width: 68%;
  }
}

@keyframes jQuery-fill {
  100% {
    width: 68%;
  }
}

#figma-bar {
  -webkit-animation: figma-fill 2.4s ease forwards;
          animation: figma-fill 2.4s ease forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes figma-fill {
  100% {
    width: 75%;
  }
}

@keyframes figma-fill {
  100% {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .services-wrap h3 {
    font-size: 2.5rem;
  }
  .services-wrap p {
    font-size: 1.7rem;
  }
  .services-wrap .services-info {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@media only screen and (max-width: 850px) {
  .stext {
    font-size: 3vw;
  }
  .skillset-wrapper {
    -ms-grid-rows: (50vw)[4];
        grid-template-rows: repeat(4, 50vw);
  }
  .skills-contain {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .services1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    grid-row: -3/-2;
  }
  .services2 {
    grid-column: 6/-1;
    grid-row: -3/-2;
  }
  .services3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    grid-row: -2/-1;
  }
  .services4 {
    grid-column: 6/-1;
    grid-row: -2/-1;
  }
}

@media only screen and (max-width: 600px) {
  .skillset-wrapper {
    -ms-grid-rows: (50vw)[5];
        grid-template-rows: repeat(5, 50vw);
  }
  .services-wrap h3 {
    font-size: 2.3rem;
  }
  .services-wrap p {
    font-size: 1.4rem;
  }
  .services-wrap .services-info {
    padding: 4% 0% 0% 8%;
  }
}

@media only screen and (max-width: 450px) {
  .stext {
    font-size: 4vw;
  }
  .skillset-wrapper {
    -ms-grid-rows: (50vw)[7];
        grid-template-rows: repeat(7, 50vw);
  }
  .skills-contain {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .services1 {
    grid-column: 1/-1;
    grid-row: -5/-4;
  }
  .services2 {
    grid-column: 1/-1;
    grid-row: -4/-3;
  }
  .services3 {
    grid-column: 1/-1;
    grid-row: -3/-2;
  }
  .services4 {
    grid-column: 1/-1;
    grid-row: -2/-1;
  }
}

@media only screen and (max-width: 360px) {
  .skillset-wrapper {
    -ms-grid-rows: (50vw)[8];
        grid-template-rows: repeat(8, 50vw);
  }
}

@media only screen and (max-width: 350px) {
  .services-wrap h3 {
    font-size: 2.3rem;
  }
  .services-wrap p {
    font-size: 1.3rem;
  }
  .services-wrap .services-info {
    padding: 1% 0% 0% 8%;
  }
}

@media only screen and (max-width: 300px) {
  .services-wrap h3 {
    font-size: 2rem;
  }
  .services-wrap p {
    font-size: 1.2rem;
  }
  .services-wrap .services-info {
    padding: 2% 0% 0% 8%;
  }
}

.aboutpage {
  margin-top: 10%;
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 5rem;
}

#aboutsvg {
  width: 100px;
}

.abouttext {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.aboutimg-wrapper {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
}

.aboutimg {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.line {
  display: inline;
  height: 10px;
  width: 100%;
  background-color: black;
}

#mypicture {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

#img1 {
  text-align: start;
}

#img2 {
  text-align: end;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  -webkit-transition: border 1s;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  -webkit-box-shadow: 0 70px 63px -60px #000;
          box-shadow: 0 70px 63px -60px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card0 {
  background: url("../images/about.jpg") center center no-repeat;
  background-size: 300px;
}

.card0:hover {
  background: url("../images/about.jpg") left top no-repeat;
  background-size: 600px;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fa {
  opacity: 1;
}

.card h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 20px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fa {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#facebook:hover {
  fill: #2e70ff;
  color: #2e70ff;
  cursor: pointer;
}

#github:hover {
  color: #c9510c;
  cursor: pointer;
}

#linkedin:hover {
  color: #5e89e6;
  cursor: pointer;
}

#email:hover {
  color: #EA4335;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .abouttext p {
    font-size: 1.8rem;
  }
}

.contactpage {
  height: 100vh;
  text-align: center;
}

.relaunch {
  width: 100px;
  margin-left: 5%;
}

.contacth {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#h13 {
  text-align: start;
}

#h14 {
  text-align: end;
}

#p3 {
  text-align: start;
}

#p4 {
  text-align: end;
}

#button3 {
  text-align: start;
}

#button4 {
  text-align: end;
}

.contactp {
  padding: 0% 20% 0% 20%;
}

.footericons {
  height: 50px;
  margin: auto;
  margin-top: 20vh;
}

.footericons svg {
  fill: black;
  margin: 5px;
}

#facebook-footer:hover {
  fill: #2e70ff;
}

#github-footer:hover {
  fill: #c9510c;
}

#linkedin-footer:hover {
  fill: #5e89e6;
}

#email-footer:hover {
  fill: #EA4335;
}

#html1 {
  padding-left: 1rem;
}

#body1 {
  padding-left: 2rem;
}

#h11 {
  padding-left: 3rem;
}

#h12 {
  padding-left: 90%;
}

#p1 {
  padding-left: 3rem;
}

#p2 {
  padding-left: 90%;
}

.intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#introtext {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37rem;
          flex: 1 1 37rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro-animation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37rem;
          flex: 1 1 37rem;
  height: 100%;
}

#intro-animation svg {
  width: 100%;
  height: 100%;
}

#button1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
}

#button2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 20rem;
}

.introp {
  padding-left: 3rem;
}
/*# sourceMappingURL=style.css.map */