@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";



@source "../../../content/**/*";

@theme static {
  --font-sans:  'Lexend Deca', 'poppins','Open Sans',  sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}


.glowing-shadow {
@apply shadow-2xl  drop-shadow-[0_0_15px_var(--ui-primary)];
}
